body {
    font-family: Arial, sans-serif;
    background-image: url('flower\ image.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#todo-list {
    max-width: 400px;
    margin: 0 auto;
    text-align: center; 
}

.todo-item {
    margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
    margin-right: 10px;
}

